{% extends "dashboard.html" %}
{% block title %} Login {% endblock %}
{% block content %}

 <h1>{{msg}}</h1>
{% comment %}<h1>this is login page</h1> {% endcomment %}
{{msg}}
<center>
<form action="{% url 'login' %}" method="post" enctype="multipart/form-data">
     {% csrf_token %}
<label for="email">Email:</label>
    <input type="email" name="email" value={{oldemail}}>
    <br><br>
    <label for="password">Password:</label>
    <input type="password" name="password" value={{password}}>
    <br><br>
     <input type="submit" value="login">
     </form>
     </center>
     {% endblock %}