<style>
table {
    width: 60%;
    border-collapse: collapse;
    margin: 20px 0;
    font-size: 18px;
    text-align: left;
}

th, td {
    padding: 12px;
    border: 2px solid #ddd;
}

th {
    background-color: #4CAF50;
    color: white;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr:hover {
    background-color: #ddd;
}

td a {
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 4px;
}

td a[href*="update"] {
    background-color:orange;
    color: black;
    padding: 5px 10px;
}

td a[href*="delete"] {
    background-color:blue;
    color: white;
    padding: 5px 10px;
}

td a:hover {
    opacity: 0.8;
}
</style>

{% extends "dashboard.html" %}
{% block title %} Table {% endblock %}
{% block content %}
<center>
<table border='2'>
<tr>
<th>S.No</th>
<th>Student Name</th>
<th>Student Email</th>
<th>Student Contact</th>
<th>Student City</th>
<th>Edit</th>
<th>Delete</th>
</tr>
{% for i in data %}
<tr>
<td>{{forloop.counter}}</td>
<td>{{i.stu_name}}</td>
<td>{{i.stu_email}}</td>
<td>{{i.stu_contact}}</td>
<td>{{i.stu_city}}</td>
{% comment %} <td><a href="{% url 'update' pk=i.id %}">Edit</a></td>              {% endcomment %}
<td><a href="{% url 'update' pk=i.id%}">Edit</a></td>             
<td><a href="{% url 'delete' pk=i.id %}">Delete</a></td>
</tr>
{% endfor %}
</table>
</center>
{% endblock %}

 {% if data %}
<h3>Update Table</h3>
<form action="{% url 'update' pk=data4.id %}" method="post" enctype="multipart/form-data">
   {% csrf_token %}
   <input type="text" name="name" value="{{data4.stu_name}}"><br>
   <input type="email" name="email" value="{{data4.stu_email}}" readonly><br>
   <input type="number" name="contact" value="{{data4.stu_contact}}"><br>
   <input type="text" name="city" value="{{data4.stu_city}}"><br>
   <input type="submit" value="Update">
</form>

{% endif %} 