{% extends "base.html" %}
{% load static %}
{% block title %} display user{% endblock %}


{% block content %}


<style>
table {
    width: 60%;
    border-collapse: collapse;
    margin: 20px 0;
    font-size: 18px;
    text-align: left;
}

th, td {
    padding: 12px;
    border: 2px solid #ddd;
}

th {
    background-color: #4CAF50;
    color: white;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr:hover {
    background-color: #ddd;
}

td a {
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 4px;
}

td a[href*="update"] {
    background-color:orange;
    color: black;
    padding: 5px 10px;
}

td a[href*="delete"] {
    background-color:blue;
    color: white;
    padding: 5px 10px;
}

td a:hover {
    opacity: 0.8;
}
</style>


<center>
<table border='2'>
<tr>
<th>S.No</th>
<th>Student Name</th>
<th>Student Email</th>
<th>Student Contact</th>

<th>Edit</th>
<th>Delete</th>
</tr>

{% for i in data %}
<tr>
<td>{{forloop.counter}}</td>
<td>{{i.name}}</td>
<td>{{i.email}}</td>
<td>{{i.phone}}</td>

{% comment %} <td><a href="{% url 'update' pk=i.id %}">Edit</a></td>              {% endcomment %}
<td><a href="{% url 'update' pk=i.id%}">Edit</a></td>
             
<td><a href="{% url 'delete' pk=i.id %}">Delete</a></td>
</tr>
{% endfor %}
</table>
</center>
{% endblock %}

  